<html ng-app="OWI">
<head>
  <title>Overwatch Sound Viewer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./site/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="./site/js/download.min.js"></script>
  <script src="./site/js/app.js"></script>
</head>
<body ng-controller="MainCtrl as $ctrl" ng-keydown="$ctrl.handleKeyPress($event)">
  <div id="heroes">
    <div class="btn" ng-repeat="hero in $ctrl.heroes" ng-class="{'btn-primary': $ctrl.hero == hero, 'btn-default': $ctrl.hero != hero}" ng-click="$ctrl.selectHero(hero)">{{hero}} {{$ctrl.isHeroDone(hero) ? '✔' : ''}}</div>
  </div>
  <div class="middlething">
    <span>Voicelines: {{$ctrl.getVLCount() || 'None'}} | Named Sounds: {{$ctrl.getMappedSoundsCount() || 'None'}} | Total Sounds: {{$ctrl.sounds[$ctrl.hero].length}}</span>
    <div class="btn btn-default" ng-show="$ctrl.items[$ctrl.hero]" ng-click="$ctrl.toggleShowVoicelines()">{{$ctrl.showVoicelines ? 'Show all items' : 'Show voicelines'}}</div>
    <div class="btn btn-default" ng-click="$ctrl.toggleShowNamedSounds()">{{$ctrl.showNamedSounds ? 'Show all items' : 'Show named sounds'}}</div>
  </div>
  <div id="mainBody">
    <div id="player">
      <audio id="audio" ng-src="{{$ctrl.currentURL}}" autoplay="true" controls="true"></audio>
      <div class="controls">
        <div class="btn btn-default" ng-click="$ctrl.replaySound()">Play</div>
        <div class="btn btn-default" ng-click="$ctrl.toggleLoop()">{{$ctrl.looping ? "Unloop" : "Loop"}}</div>
        <span class="selectedSound">Selected Sound: {{$ctrl.sSound || 'None'}}</span>
        <div class="addname" ng-if="$ctrl.isDevMode">
          <h2>Add name to sound</h2>
          <div class="input-group">
            <input type="text" id="nameInput" class="form-control" ng-model="$ctrl.mappedSounds[$ctrl.hero][$ctrl.sSound]" placeholder="Name of Item" ng-keypress="$event.keyCode == 13 && $ctrl.selectNextSound(40)">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.addSound($event)">Add</button>
            </span>
          </div>
        </div>
        <div class="vl-list" ng-show="$ctrl.items[$ctrl.hero]">
          <h2>Voice Lines for {{$ctrl.items[$ctrl.hero].name}}</h2>
          <div class="inner">
            <div class="btn-cont" ng-repeat="vl in $ctrl.items[$ctrl.hero].items.voicelines track by $index">
              <div class="vl btn btn-default" ng-class="{unselected: !$ctrl.selectedItems[vl.id]}" ng-click="$ctrl.selectItem(vl.id)">{{$ctrl.selectedItems[vl.id] ? '★' : ''}} {{vl.name}}</div> <div ng-if="$ctrl.isDevMode" ng-disabled="!$ctrl.selectedItems[vl.id]" ng-click="$ctrl.clearItem(vl.id)" class="clear btn btn-danger">Clear</div>
            </div>
          </div>
        </div>
        <div class="bottomoptions" ng-if="$ctrl.isDevMode">
          <div class="btn btn-primary" ng-click="$ctrl.saveData()">Download Data</div>
          <div class="importbtn">
            <div class="btn btn-primary" ng-click="$ctrl.saveData()" ng-class="{hover: inputhover}">Import Data</div>
            <input id="fileInput" type="file" fileread="$ctrl.importData" ng-mouseover="inputhover=true" ng-mouseleave="inputhover=false">
          </div>
          <div class="btn btn-danger" ng-click="$ctrl.clearData()">Erase Data</div>
        </div>
      </div>
    </div>
    <div id="soundList" ng-class="{filtering: $ctrl.showNamedSounds || $ctrl.showVoicelines}">
      <div 
        class="sound btn btn-default" 
        style="background-color: {{$ctrl.getColorForTS(sound.ts)}}"
        ng-repeat="sound in $ctrl.getSoundFiles() track by $index"
        uib-tooltip="{{$ctrl.getTooltip(sound.id)}}"
        uib-enable="{{$ctrl.isItemSelected(sound.id)}}"
        tooltip-append-to-body="true"
        ng-click="$ctrl.playSound(sound.id, $index)"
        ng-class="{selected: $ctrl.sSound == sound.id}">{{sound.id}} {{$ctrl.isItemSelected(sound.id) ? '★' : ''}}<span>{{$ctrl.getItemName(sound.id)}}</span>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>This site is not affiliated with Blizzard Entertainment.</p>
    <p>All trademarks referenced herein are the properties of their respective owners.</p>
    <p>©2017 Blizzard Entertainment, Inc. All rights reserved.</p>
  </div>
</body>
</html>
