body {
  padding: 8px 20px;
  background: rgb(235, 235, 235);
  font-family: sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  margin-bottom: 2px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  line-height: 1;
}

#mainBody {
  padding-top: 7px;
  display: flex;
  justify-content: space-between
}


.middlething {
  margin: 3px 0;
  padding: 3px 0;
  border-top: 1px solid rgb(80, 80, 80);
  border-bottom: 1px solid rgb(80, 80, 80);
  text-align: center;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlething .btn {
  margin-left: 3px;
}

#heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#heroes .btn {
  margin: 1px 3px;
  font-size: 13px;
  text-transform: uppercase;
}

#player {
  margin-right: 20px;
  width: 27.5%;
}

#player .controls .selectedSound {
  font-size: 14px;
}

#player .controls {
  margin-top: 5px;
}

#player audio {
  width: 100%;
}

#player .vl-list {
  margin-top: 15px;
}

#player .vl-list .inner .btn-cont {
  display: flex;
  margin: 2px 0;
}

#player .vl-list .inner .vl.btn {
  width: 100%;
  text-transform: uppercase;
}


#player .vl-list .inner .clear.btn {
  margin-left: 3px;
}

#soundList {
  width: 71%;
  text-align: center;
}

#soundList .switcher .btn {
  margin: 0 3px 3px;
  text-transform: uppercase;
}

#soundList .switcher span {
  font-size: 16px;
  font-weight: bold;
}

.filtering .noname {
    box-shadow: inset 0px 0px 20px 2px red;
}

#soundList .sounds {
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  height: calc(100% - 190px);
}

#soundList .sound {
  margin: 3px 2px;
  width: 170px;
  white-space: pre-line;
}

#soundList div span {
  font-size: 13px;
}

.addname input {
  font-size: 13px;
}

#soundList.filtering .sound {
    width: 230px;
}

.bottomoptions {
  margin-top: 5px;
}

.importbtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.importbtn input {
  position: absolute;
  opacity: 0;
  width: 101px;
  height: 34px;
  top: 0;
  cursor: pointer;
  padding-left: 101px;
  overflow: hidden;
}

.btn-primary.hover {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 96, 144);
  border-color: rgb(32, 77, 116);
}

.btn:hover, .btn.selected {
  border-color: black;
  box-shadow: 1px 1px 3px black;
}

.btn.unselected {
  color: rgb(51, 51, 51);
  background-color: rgb(220, 220, 220);
  border-color: rgb(173, 173, 173);
}